[user]
	email = HonsonCooky@gmail.com
	name = Harrison Cook
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[url "git@github.com:"]
	insteadOf = https://github.com/
